<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407395708207-nb1lcamh9tu5at20m1pjksa095qhs9a6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407395708207-nb1lcamh9tu5at20m1pjksa095qhs9a6</string>
	<key>API_KEY</key>
	<string>AIzaSyBeBd5L8t2toEwjYM4ihM2Cu4qot3RsMlE</string>
	<key>GCM_SENDER_ID</key>
	<string>407395708207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.art4muslim.zwahb</string>
	<key>PROJECT_ID</key>
	<string>zwahb-f705b</string>
	<key>STORAGE_BUCKET</key>
	<string>zwahb-f705b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407395708207:ios:4634960f7f006a0ec4c5da</string>
</dict>
</plist>